@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root {
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 10vh;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
}
body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #3a5067;
}
.logo-title {
    background-color: #7caad1;
    color: #25446a;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-family: lakeshor;
}
.details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden .details-container {
    display: none;
}
.hide-button {
    position: absolute;
    top: 0;
    right: 7vw;
}
.details-image {
    width: 86vw;
    height: 35vh;
    border-radius: 25%;
}
.details-title {
    background-color: #fe7f54;
    position: absolute;
    left: 11vw;
    bottom: 2vh;
    font-family: airstream;
    font-style: italic;
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 32vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-top: 2.5vh;
}
.hidden .thumbnails-list {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 80vh;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
    margin-top: 0;
}
.thumbnails-item {
    margin-top: 2vh;
    border: 1px solid #fff;
    max-width: var(--thumbnails-image-width);
    height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    border-radius: 25%;
    overflow: hidden;
}
.hidden .thumbnails-item {
    max-width: 45vw;
    min-height: 24vh;
    margin: 2%;
}
.selected.thumbnails-item {
    border-radius: 3%;
    border: 3px solid #fff;
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display:block;
    transition: 1s; /* Время эффекта */
}
.hidden .thumbnails-image {
    width: 45vw;
    height: 20vh;
}
.thumbnails-image:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-title-height);
}
.hidden .thumbnails-title {
    font-size: 1.4rem;
    width: 45vw;
    height: 4vh;
}
.footer-title {
    text-align: center;
    background-color: #7caad1;
}
footer a {
    color: #000;
}
@media (min-width: 568px){
    :root {
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 17vh;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.3);
    } 
    body {       
        justify-content: space-between;
        margin: 0;
    }
    .logo-title {
        margin: 0;
        font-size: 1.5rem;        
    }
    .main-content {
        display: flex;
         justify-content: space-around;        
    }
    .details-container {
        justify-content: center;        
    }
    .hide-button {
        right: 0vw;
    }
    .details-image {
        width: 55vw;
        height: 70vh;
    }
    .details-title {
        left: 0vw;
        bottom: 4vh;        
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: 70vh;
        justify-content: flex-start;
        padding: 0 2vw 0 0;
        margin: 0;       
    }
    .hidden .thumbnails-list {
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 80vh;
        justify-content: center;
        padding: 0;       
    }
    .thumbnails-item {      
        margin-left:0;        
        margin-top:0;
        min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    }
    .hidden .thumbnails-item {        
        max-width: 23vw;
        min-height: 34vh;
        margin: 10px 10px;
    }
    .thumbnails-item+.thumbnails-item {
        margin-top: 2vh;
    }  
    .hidden .thumbnails-image {
        width: 23vw;
        height: 28vh;
    }
    .thumbnails-title {        
        font-size: 0.9rem;        
    } 
    .hidden .thumbnails-title {
        font-size: 1.2rem;
        width: 23vw;
        height: 7vh;
    }
    .selected .thumbnails-title {
        line-height: 1.3rem;
    }
}
@media (min-width: 900px){
    :root {
        --thumbnails-image-width: 14vw;
        --thumbnails-image-height: 19vh;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.23);
    }
    .logo-title {
        font-size: 2.5rem;        
    }
    .details-image {
        width: 50vw;
        height: 80vh;
    }
    .details-title {
        left: 0vw;
        bottom: 4vh;
        font-size: 1.6rem;
    }
    .hide-button {
        right: 2vw;
        top: 4vh;
    }
    .thumbnails-list {
        max-height: 75vh;
        padding-right: 2vw;
    }
    .hidden .thumbnails-list {
        max-height: 77vh;
    }
    .hidden .thumbnails-item {
        max-width: 20vw;
        min-height: 35vh;
    }  
    .hidden .thumbnails-image {
        width: 20vw;
        height: 29vh;
    }  
    .thumbnails-title {
        font-size: 1.2rem;
    }
    .hidden .thumbnails-title {
        font-size: 1.8rem;
        width: 20vw;
    }
}